<h2 class="text-center mt-3">Update Password</h2>
<div class="password-form">
  <form
    action=""
    #formData="ngForm"
    (ngSubmit)="onSubmit()"
    [formGroup]="updateForm"
  >
    <div class="password-input">
        <input 
         type="password"
          name="new-password" 
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
        >
        <button class="password-toggle" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'Hide' : 'Show' }} 
        </button>
      </div>
      <button class="update-password" type="submit">Update Password</button>
  </form>
</div>
