<div class="signin">
    <div class="signin__web-page">
      <div class="signin__left-view">
      </div>

    <div class="signin__right-view">
      <div class="signin__form">
        <h1 class="signin__heading-primary">
          Forgot Your Password?
          <br class="hidden-xs" />
          <span class="signin__heading-span-text">
            Please confirm your email address below and we 
            will send you a verification code. 
          </span>
          <form
          (ngSubmit)="onForgotPassword()" 
          >
            <div class="mt-4">
              <input
              type="email"
              class="signin__input"
              placeholder="Enter your email address"
              name="email"
              required
              [(ngModel)]="email"
            />
            <!-- <div class="mt-n3">
              <small class="text-danger">This email is invalid</small>
            </div> -->
            </div>
          <div class="signin__method mt-5">
            <button type="submit" class="signin__btn">Reset</button>
          </div>
          <div class="signin__method d-flex align-items-start">
            <div class="p-2 mt-4">
             <p class="signin__rela">
               Already have an account?
                <span><a [routerLink]="['/login']" class="signin__otp-text">LOG IN</a></span>
              </p>
            </div>
           </div>
          </form>
        </h1>
      </div>
    </div>
    </div>
  </div>