<div class="signin">
    <div class="signin__web-page">
      <div class="signin__left-view">
      </div>
  
    <div class="signin__right-view">
      <div class="signin__form m-3 p-2">
        <h2 class="signin__heading-primary">Sign In</h2>
        <span class="signin__heading-span">Sign In as an admin</span>
        <form
          action=""
          #formData="ngForm"
          (ngSubmit)="onSubmit()"
          [formGroup]="loginForm"
        >
          <div>
            <input
              type="email"
              class="signin__input"
              placeholder="Email"
              name="email"
              formControlName="email"
              required
            />
          </div>
          <div class="mt-4">
            <input 
              type="text"
              class="signin__input"
              placeholder="Password"
              [type]="passwordHide ? 'password': 'text'"
              name="password"
              formControlName="password" 
              required
            />
            <svg *ngIf="passwordHide"
            (click)="togglePassword()"
              xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-off signin__icon-password" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#A1A4A8" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="3" y1="3" x2="21" y2="21" />
              <path d="M10.584 10.587a2 2 0 0 0 2.828 2.83" />
              <path d="M9.363 5.365a9.466 9.466 0 0 1 2.637 -.365c4 0 7.333 2.333 10 7c-.778 1.361 -1.612 2.524 -2.503 3.488m-2.14 1.861c-1.631 1.1 -3.415 1.651 -5.357 1.651c-4 0 -7.333 -2.333 -10 -7c1.369 -2.395 2.913 -4.175 4.632 -5.341" />
            </svg>
            <svg *ngIf="!passwordHide"
            (click)="togglePassword()"
              xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye signin__icon-password" width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#A1A4A8" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
            </svg>
          </div>
          <!-- <div class="mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="16" height="16" viewBox="0 0 24 24" stroke-width="3" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
             <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
             <circle cx="12" cy="12" r="9" />
             <line x1="12" y1="8" x2="12" y2="12" />
             <line x1="12" y1="16" x2="12.01" y2="16" />
           </svg> <small class="text-danger"> Invalid password</small>
        </div> -->
        <div class="d-flex mt-4">
         <div class="p-2 flex-grow-1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label signin__check" for="flexSwitchCheckDefault">Remeber Me</label>
          </div>
        </div>
         <div class="mt-auto p-2">
          <a [routerLink]="['/forgot-password']" class="signin__anchor">Forgot Password</a>
        </div>
        </div>
        <div class="signin__method mt-3">
          <button type="submit" class="signin__btn">Sign In</button>
        </div>
        </form>
      </div>
    </div>
    </div>
  </div>