<div class="signin">
    <div class="signin__web-page">
      <div class="signin__left-view">
      </div>

    <div class="signin__right-view">
      <div class="signin__form">
        <h1 class="signin__heading-primary">
          Update Your Password?
          <br class="hidden-xs" />
          <span class="signin__heading-span-text">
            Please kindly update your password with the following field 
          </span>
          <form
          >
              <div class="mt-4">
                <input
                type="password"
                class="signin__input"
                placeholder="Enter your new password"
                name="password"
                required
              />
              </div>
          <div class="signin__method mt-5" [routerLink]="['/verification']">
            <button type="submit" class="signin__btn">Update</button>
          </div>
          </form>
        </h1>
      </div>
    </div>
    </div>
  </div>